.ClienteSearchBox {
  position: relative;
  width: 100%;
}

.ClienteSearchBoxDropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  z-index: 20;
}

.ClienteSearchBoxList {
  display: grid;
  gap: 0.5rem;
}
