.Input {
  display: block;
}

.Input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.Input[type="number"]::-webkit-outer-spin-button,
.Input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
